html{text-align: center;
    font: Helvetica;}

h1{font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url("images/the-flatiron-building.png");}

h2{font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;}

h3{font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;}

p{font-family: Helvetica;
  font-size: 14px;}

.designed{font-family: Helvetica;
         font-size: 23px;
         font-weight: bold;
         color: white;
         background-image: url("images/the-flatiron-building.png");}

h5{font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;}
